<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista de Empregados</title>
</head>
<body>

<h2>Lista de Empregados</h2>
<ul>
    {% for employee in employees %}

    <a href="{%url 'update_employee' employee.id %}">

        <li>{{employee.name}}</li>
    </a>
    {% endfor %}
</ul>
<a href="{% url 'create_employee' %}">Novo Empregado</a>
</body>
</html>